<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test verbose="2" preserve-order="true" name="Login" parallel="methods" thread-count="2">
        <classes>
            <class name="LoginTestTestNGRunner"/>
            <!--                <methods>-->
            <!--                    <include name="loginToReportPortalWithWrongUserName"/>-->
            <!--                </methods>-->
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="XLS Login" parallel="methods" thread-count="2">
        <classes>
            <class name="LoginTestTestNGRunnerWithXLS"/>
        </classes>
    </test>
</suite>
